/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem !important;
    border-bottom: 1px solid #5e84e8;
}

.navbar-right {
    display: flex;
    gap: 1rem;
}

/* Mobile Menu */
div.mobile__menu {
    font-weight: 500;
    font-size: 1.2rem;

    display: flex;
    flex-direction: column;
    background: var(--bg);
    position: absolute;
    top: 100%;
    right: 0;
    width: 25% !important;
    border: 1px solid #eee;
    color: var(--text) !important;
    border-radius: 0px 0px 0px 15px;
}

div.mobile__menu .nav__link {
    padding: 0.75rem;
    border-top: 1px solid #eee;
    text-align: center;
    color: var(--text) !important;
}

div.mobile__menu .nav__link:hover {
    background: linear-gradient(90deg, var(--accent), var(--primary));
    color: white !important;
}

button.hamburger {
    padding: 10px 15px;
    border-radius: 50%;
    display: flex;
}

button.hamburger:hover {
    cursor: pointer;
    transition: background-position 0.5s ease;
    color: var(--text) !important;
}

@media (max-width: 1100px) {
    .navbar-right .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
}

/* 
.toggle-btn {
    width: 60px;
    height: 32px;
    border-radius: 50px;
    border: 1px solid var(--text);
    background: transparent;
    position: relative;
    cursor: pointer;
}

.toggle-circle {
    width: 24px;
    height: 24px;
    background: var(--text);
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 4px;

    transition: transform 0.3s ease;
}

.toggle-btn.active .toggle-circle {
    transform: translateX(28px);
}

.icon-left,
.icon-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-left {
    left: 8px;
}

.icon-right {
    right: 8px;
}

.icon-left svg,
.icon-right svg {
    width: 18px;
    height: 18px;
    fill: var(--text);
}


.toggle-btn.active .icon-right svg {
    opacity: 1;
}

.toggle-btn:not(.active) .icon-left svg {
    opacity: 1;
} */