.btn-gradient {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    padding: 1rem 1.8rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: var(--text);
    font-size: .95rem;
    font-weight: 700;
    letter-spacing: .3px;
    text-decoration: none;
    background: linear-gradient(90deg, var(--accent), var(--primary));
    transition:
        .35s ease;
    box-shadow:
        0 12px 35px rgba(96,70,255,.28);
}

.btn-gradient i{
    font-size:.95rem;
}

.btn-gradient:hover{
    transform:
        translateY(-3px)
        scale(1.03);
    background-position:right;
    box-shadow:
        0 20px 45px rgba(217,0,255,.35);
}

.btn-gradient:active{
    transform:
        translateY(0)
        scale(.98);
}
