.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: #f3eeee0b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

    .navbar .logo {
        height: 80px;
    }

.navbar-center {
    display: flex;
    gap: 1rem;
}

    .navbar-center a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
    }

.navbar-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

    .navbar-right .icon-button {
        background: none;
        border: none;
        font-size: 1.25rem;
        cursor: pointer;
    }

    .navbar-right .hamburger {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

.mobile-menu {
    display: none;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    border-top: 1px solid #eee;
}

    .mobile-menu a {
        padding: 0.75rem;
        border-bottom: 1px solid #eee;
        text-align: center;
    }

/* Responsivo */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }

    .navbar-right .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
    }
}
